<mat-card class="search-wrapper">
    <div class="brand-search">
        <mat-form-field appearance="standard">
            <mat-label>Search Makeup</mat-label>
            <input [(ngModel)]="productType" matInput placeholder="Makeup types">
        </mat-form-field>
        <button mat-raised-button class="search-brand-btn" (click)="getProductsByType()">Search</button>
    </div>
    <button mat-raised-button (click)="resetSearch()">Reset</button>
</mat-card>

<div class="products-wrapper">
    <div *ngFor="let product of products" class="products">
        <img class="product-image" [src]="product.image_link" />
        <div class="product-brand">{{ product.brand }}</div>
        <div class="product-name">{{ product.name }}</div>
        <div class="product-price">{{ product.price_sign }}{{ product.price }}</div>
        <button [routerLink]="['/product', product.id]">Details</button>
    </div>
</div>

<mat-card class="side-bar-wrapper">
    <div class="brands-filter-wrapper">
        <div class="title">Brands</div>
        <div class="brands" *ngIf="loaded">
            <div class="brand" *ngFor="let brand of productsService.brands">
                <mat-checkbox>{{ brand }}</mat-checkbox>
            </div>
        </div>
        <div *ngIf="loaded" class="bg-fade"></div>
    </div>
</mat-card>

<div class="loading" *ngIf="!loaded"></div>