<mat-card class="search-wrapper">
    <div class="brand-search">
        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="productType">
              <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-raised-button class="search-brand-btn" (click)="getProductsByType()">Search</button>
    </div>
    <button mat-raised-button (click)="resetSearch()">Reset</button>
    <mat-card-title *ngIf="!isFilteredSearch">Displaying {{ products.length }} results</mat-card-title>
    <mat-card-title *ngIf="isFilteredSearch">Displaying {{ products.length }} results for 
        <span [style.color]="'blue'">{{ productType }}</span>
    </mat-card-title>
</mat-card>

<div class="products-wrapper">
    <div *ngFor="let product of products" class="products">
        <img class="product-image" [src]="product.image_link" />
        <div class="product-brand">{{ product.brand }}</div>
        <div class="product-name">{{ product.name }}</div>
        <div class="product-price">{{ product.price_sign }}{{ product.price }}</div>
        <div class="buttons-wrapper">
            <button mat-raised-button (click)="selectProduct(product)">Details</button>
            <button mat-raised-button (click)="addToCart(product)">Add to cart</button>
        </div>
    </div>
</div>

<mat-card class="side-bar-wrapper">
    <div class="brands-filter-wrapper">
        <div class="title">Brands</div>
        <div class="brands" *ngIf="loaded">
            <div class="brand" *ngFor="let brand of productsService.brands">
                <mat-checkbox [checked]="brand.selected" (input)="filterBrands(brand)">{{ brand.brand }}</mat-checkbox>
            </div>
        </div>
        <div *ngIf="loaded" class="bg-fade"></div>
    </div>
</mat-card>

<div class="loading" *ngIf="!loaded"></div>