<mat-toolbar class="nav" *ngIf="loggedIn">
  <mat-toolbar-row class="nav-bar-wrapper">
      <span *ngIf="!googleLoggedIn" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</span>
      <span *ngIf="googleLoggedIn" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</span>
      <span [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</span>
      <span class="cart-nav" [routerLink]="['/cart']" routerLinkActive="router-link-active">
        <span>{{ cartService.usersCartProducts.length }}</span>
        <span><i class="fas fa-shopping-bag"></i></span>
      </span>
      <span [routerLink]="['/checkout']" routerLinkActive="router-link-active" >Checkout</span>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>