<mat-toolbar *ngIf="loggedIn">
  <mat-toolbar-row class="nav-bar-wrapper">
      <span *ngIf="!loggedIn" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</span>
      <span *ngIf="loggedIn" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</span>
      <span [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</span>
      <span [routerLink]="['/cart']" routerLinkActive="router-link-active" >Cart</span>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>