.checkoutCont{
    display: flex;
    justify-content: space-around;
}
.formCont{
    width: 75%;
    text-align: center;
}
.field{
    width: 30%;
    text-align: center;
}
.productCont{
    width: 20%
}
img{
    width:50px;
}
.product{
    display:flex;
    justify-content: space-between;
}